<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
   <nav>
  <a href="{{ url_for('dashboard') }}">Dashboard</a> |
  <a href="{{ url_for('transactions') }}">Transactions</a> |
  <a href="{{ url_for('expenses') }}">Expenses</a> |
  <a href="{{ url_for('income') }}">Income</a> |
  <a href="{{ url_for('profile') }}">Profile</a> |
  <a href="{{ url_for('logout') }}">Logout</a>
</nav>
<hr>
    {% block content %}{% endblock %}
</body>
</html>